@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Noto Sans KR', sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

::-webkit-scrollbar {
  display: none;
}

body{
    background: linear-gradient(to left, #c0c0aa, #1cefff);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110%;
}

.highlight{
    position: absolute;
    top: 10%;
    font-weight: bold;
    font-size: 43px;
    color: rgb(255, 255, 255);
    box-shadow: inset 0 -30px 0 rgba(63, 45, 255, 0.485);
}

p{
    position: absolute;
    top: 20%;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.keywordWrap{
    margin-top: 12%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

fieldset{
    width: 350px;
    height: 300px;
    background-color: white;
    margin: 30px;
    border-radius: 10px;
    border: none;
    overflow: scroll;
    overflow-x: hidden;
}

legend{
    margin-left: 20px;
    color: #6E6E6E;
    font-size: 18px;
    font-weight: bold;
}


.boxWrap{
    margin: 20px;
    font-size: 15px;
    display: flex;
}

input{
    margin: 5px;
}

#location{
    background-color: #D1FFDD;
    border-radius: 8px;
    color: #0e8b30;
    padding: 4px;
}

#mood{
    background-color: #FAF8C0;
    border-radius: 8px;
    padding: 4px;
    color: #8b8708;
}

#personNum{
    background-color: #C8C0FF;
    border-radius: 8px;
    padding: 4px;
    color: #4832d4;
}


#leisure{
    background-color: #BBE6F9;
    border-radius: 8px;
    padding: 4px;
    color: #0e6c94;
}

#rental{
    background-color: #E6B1CA;
    border-radius: 8px;
    padding: 4px;
    color: #b82a6c;
}

.saveBTN{
    width: 8vw;
    height: 7vh;
    font-size: 13px;
    background-color: #2173F2;
    border: none;
    border-radius: 5px;
    color: white;
    position: absolute;
    right: 12.1%;
    bottom: -16.9%;
    font-size: 20px;
    font-weight: lighter;
}

.saveBTN:hover{
    cursor: pointer;
    background-color: #1b57b1;
}

/* 헤더 */

header {
    position: absolute;
    z-index: 999;
    color: #ffff;
    font-size: 15px;
    top: 3%;
    width: 100%;
    height: 7vh;
}

.logo {
    position: absolute;
    display: inline-block;
    left: 6%;
}

a {
    text-decoration: none;
    color: #ffff;
}

li {
    list-style: none;
}

.menu {
    position: absolute;
    left: 8%;
    font-size: 18px;
    width: 60%;
    display: inline-block;
    position: relative;
}

.menu ul li {
    float: right;
    width: 30%;
    text-align: center;
}

.menu ul li a {
    position: relative;
    top: 0px;
    transition: top 0.3s;
}

.menu ul li a:hover {
    top: -5px;
}

.loginBtn {
    position: absolute;
    right: 7%;
    border-radius: 20px;
    font-size: 15px;
    width: 6vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.834);
    border-style: none;
}



.loginBtn:hover {
    cursor: pointer;
    background-color: rgba(63, 45, 255, 0.485);
}

.registerBtn {
    position: absolute;
    right: 14%;
    border-radius: 20px;
    font-size: 15px;
    width: 7vw;
    height: 5vh;
    background-color: rgba(0, 0, 0, 0.834);
    border-style: none;
}

.registerBtn:hover {
    cursor: pointer;
    background-color: rgba(63, 45, 255, 0.485);
}